body {
	font-family: monospace;
	background-color: #131313;
	color: #F92672;
}
#imageLoader {
	width: 80%;
	margin: auto;
	white-space: pre;
}
#width, #height {
	width: 3em;
	background-color: #191919;
	color: #AE81FF;
	border: none;
}
canvas {
	border: 1px solid #A2E22E;
}
